trash
GTEx_Analysis_2017-06-05_v8_STARv2.5.3a_junctions.gct
flair_filter_transcripts.gtf
.vscode
.venv
uv.lock
*output
*pvactools_output
TS-SAND-git-tracked-20260325-212650
TS-SNAD/output/
TS-SNAD/pvactools_output/

.codex
README copy.md